---
import Header from './HomeHeader.astro';
import HeroContent from './HeroContent.astro';
import FeatureCards from './FeatureCards.astro';
import buildingImg from '../../../assets/Images/HomePageImg/FirstHomeFrame/building.png';
---

<div class="hero">
    <Header />
    <HeroContent />
    <FeatureCards />
</div>

<style>
    .hero {
        position: relative;
        width: 100%;
        height: 150vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Crop out the edges */
    }

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/Images/HomePageImg/FirstHomeFrame/building.png');
        background-size: cover;
        background-position: center;
        transform: scale(1.05); /* Slight zoom to clean right/bottom edges */
        z-index: -1;
    }
</style>


