---
import Header from './HomeHeader.astro';
import HeroContent from './HeroContent.astro';
import FeatureCards from './FeatureCards.astro';
import buildingImg from '../../../assets/Images/HomePageImg/FirstHomeFrame/building.png';
---

<div class="hero">
    <Header />
    <HeroContent />
    <FeatureCards />
</div>

<style>
    .hero {
        position: relative;
        width: 100vw;
        height: 150vh;
        background-image: url('../../../assets/Images/HomePageImg/FirstHomeFrame/building.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>


